body {
    height: 100vh;
}

* {
    font-family: 'Julius Sans One', sans-serif;
}

.navbar {
    font-size: 1rem;
    font-weight: 100;
    background-color: #99b7e8;
    font-family: 'Julius Sans One', sans-serif;
}
#navbar-custom .nav-link {
    color: #447bd4;
}
#navbar-custom .nav-link:hover {
    color: #96b3e0;
}

#navbar-custom .navbar-brand {
    color: #447bd4;
    font-size: 1.5rem;
}


#home {
    height: 100vh;
    min-height: 50vh;
    padding: 200px;   
    text-align: center;
    color:#e8d9a5;
    font-family: 'Lobster Two', cursive;
    background: url(jowens1.png);
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 0 #000,
         -1px 1px 0 #000,
         1px -1px 0 #000,
         -1px -1px 0 #000,
         0px 1px 0 #000,
         0px -1px 0 #000,
         -1px 0px 0 #000,
         1px 0px 0 #000,
        2px 2px 0 #000,
         -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
         -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
         -1px 2px 0 #000,
        1px -2px 0 #000,
         -1px -2px 0 #000,
         2px 1px 0 #000,
         -2px 1px 0 #000,
         2px -1px 0 #000,
         -2px -1px 0 #000;
}

#home h1 {
    font-size: 7rem;
}

#home p {
    font-size: 2rem;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}